@use "/src/styles/global" as *;

//各種input項目などの細かなレイアウト調整スタイル群です

//汎用:使用場所を問わない********************
.c-assistInput-layout {
  &.-layoutType--liquid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -16px;
  }
  &.-layoutType--col2 {
    display: flex;
    flex-wrap: wrap;
  }
  &.-layoutType--col3 {
    display: flex;
    flex-wrap: wrap;
  }
  &.-layoutType--col4 {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-assistInput-layout__item {
  display: flex;
  align-items: center;
  @include state(".c-assistInput-layout", ".-layoutType--liquid") {
    margin-right: 15px;
    margin-top: 16px;
    @include state(".c-assistInput-layout", ".-sideMarginSize--s") {
      margin-right: 10px;
    }
    @include state(".c-assistInput-layout", ".-sideMarginSize--l") {
      margin-right: 30px;
    }
  }
  & + & {
    @include state(".c-assistInput-layout", ".-layoutType--col1") {
      margin-top: 15px;
    }
  }
  @include state(".c-assistInput-layout", ".-layoutType--col2") {
    @include col(2, 15, 16, ".c-assistInput-layout.-layoutType--col2");
  }
  @include state(".c-assistInput-layout", ".-layoutType--col3") {
    @include col(3, 15, 16, ".c-assistInput-layout.-layoutType--col3");
  }
  @include state(".c-assistInput-layout", ".-layoutType--col4") {
    @include col(4, 15, 16, ".c-assistInput-layout.-layoutType--col4");
  }
}

//年、月、日などのテキスト
.c-assistInput-layout__item-text {
  // margin-top: auto;
  white-space: nowrap;
  &.-top {
    padding-top: 3px;
    margin-bottom: auto;
  }
  &.-center {
    margin-top: auto;
    margin-bottom: auto;
  }
  &.-bottom {
    margin-top: auto;
    padding-bottom: 3px;
  }
  //input要素よりの前の場合
  &:first-child {
    margin-right: 8px;
  }
  //input要素よりの後の場合
  &:last-child {
    margin-left: 8px;
  }
}
//********************汎用
